@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
body {
  font-family: 'Roboto', sans-serif;
}
.watermark-1 {
  position:absolute;
  top:2px;
  left:1px;
  color:white;
  font-weight:100;
  font-size:10px;
}


.navbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: 100px;
    top: 65%;
    left: 50%;
    
  }
  
  .navbar li {
    float: left;
    
  }
  
  .navbar li a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 5px;
    margin: 20px 30px 0 0;
    width: 80px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }

  
.navbar li a:hover {
    text-decoration: none;
    transition: background-color 0.2s ease;
    transform: scale(1.15);
    background-color: #fff;
    color: #000;
    border-radius: 0;
  }

  
  .box-1 {
    width: 100%;
    min-height: 740px;
    max-height: 1100px;
    background: url('https://tse1.mm.bing.net/th?id=OIP.jtzLV8nbTiaPVkbonKgPJAHaDk&pid=Api&rs=1&c=1&qlt=95&w=191&h=92') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }

  
.middle-row {
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: 60px;
    top: 25%;
    left: 50%;
    align-items: center;
    
  }
  
  @media screen and (min-width:750px) {
    .middle-row {
      top: 35%;
    }
  }
  
  @media screen and (min-width: 2500px) {
    .middle-row {
      top: 20%;
    }
  }
  
  .middle-row img {
    border-radius: 50%;
    max-width: 355px;
    max-height: 300px;
    
    
  }
  
  .name {
    margin: 20px 0 0 0;
  }
  
  .name p {
    font-size: 18px;
    color: white;
    font-weight: 300;
    font-size: 23px;
  }
  
  .social-media {
    top: 25px;
    padding-left: 40px ;
  }
  
  .social-media img {
    max-width: 50px;
    max-height: 50px;
    margin: 0 10px 0 10px;
    
  }
  
  #about-catcher {
    margin-top: 1px;
  }
  
  .box-2 {
    margin-top: 30px;
  }
  
  .name-header {
    font-weight: 800;
    font-size: 34px;
  }
  
  @media screen and (min-width:1200px) {
    .name-header {
      margin-top: 40px;
    }
    .p-body {
      padding-right: 50px;
    }
    #about-catcher {
      margin-bottom: 100px;
    }
    #about-tail {
      margin-top: 80px;
    }
  }
  
  .tag {
    font-size: 18px;
    margin-top: -10px;
  }